.item {
    display: flex;
    align-items: center;
    border: 1px solid;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.status {
    font-size: x-large;
    padding-left: 30px;
    padding-right: 10px;
}

.name {
    padding-left: 10px;
}